<h1>Productos</h1>
{{#each products}}
    <div>
        <p>{{this.title}}</p>
        <p>{{this.id}}</p>
        <p>{{this.description}}</p>
        <p>{{this.price}}</p>
        <p>{{this.stock}}</p>
        <p>{{this.category}}</p>
    </div>
    <hr>
{{/each}}