<header>
  {{#if user}}
    <div class="user-info">
      <h2>Bienvenido, {{user.first_name}}</h2>
      <a href="/profile">Mi Perfil</a>
      <a href="/carts/{{user.cart_id}}">Mi Carrito</a>
      <a href="/api/sessions/logout">Cerrar Sesión</a>
    </div>
  {{else}}
    <div class="auth-buttons">
      <a href="/register"><button>Registrarse</button></a>
      <a href="/login"><button>Iniciar Sesión</button></a>
    </div>
  {{/if}}
</header>


<h1>Productos</h1>

{{#each products}}
  <div>
    <h2>{{this.title}}</h2>
    <p>{{this.description}}</p>
    <p>Precio: ${{this.price}}</p>
    <p>Categoría: {{this.category}}</p>
    
    <a href="/products/{{this._id}}">
      <button>Ver detalles</button>
    </a>
    
    {{#if ../user}}
      <button onclick="addToCart('{{this._id}}')">Agregar al carrito</button>
    {{/if}}
  </div>
{{/each}}

<div style="margin-top: 10px;">
  {{#if hasPrevPage}}
    <a href="/products?page={{prevPage}}">Anterior</a>
  {{/if}}
  
  {{#if hasNextPage}}
    <a href="/products?page={{nextPage}}">Siguiente</a>
  {{/if}}
</div>

<p>Página {{currentPage}} de {{totalPages}}</p>
<script src="/js/cart.js"></script>